*, *:after, *:before {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: "Fira Sans", Helvetica;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  background: #EEE; }
  html.-no-scroll, body.-no-scroll {
    overflow: hidden; }

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

strong {
  font-weight: 500; }

button {
  display: inline-block;
  box-shadow: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer; }

.-hidden {
  display: none; }

.link {
  color: #97bd3d; }
  .link:hover {
    text-decoration: underline; }

.m-search .search-container input {
  font-size: 14px;
  margin: 0;
  border: 1px solid #E5E5DF;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  appearance: none; }

.l-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (min-width: 850px) {
    .l-wrapper {
      max-width: 1024px;
      width: 95%; } }
  @media (min-width: 1400px) {
    .l-wrapper {
      max-width: 1200px;
      width: 75%; } }

.l-logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  text-indent: -9999px;
  width: 60px;
  height: 60px;
  margin: 0 0 0 15px;
  background-image: url("/howto/assets/images/logo.png");
  background-size: contain; }
  @media (min-width: 850px) {
    .l-logo {
      width: 90px;
      height: 90px;
      margin: 0; } }
  .l-logo a {
    display: block;
    width: 100%;
    height: 100%;
    color: #FFF; }
    .l-logo a .ribbon {
      text-indent: 0px;
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 9px;
      text-transform: uppercase;
      -webkit-transform: translate(5px, 8px);
              transform: translate(5px, 8px); }
      .l-logo a .ribbon > span {
        display: block;
        position: relative;
        z-index: 2;
        background: #b6b6ba;
        padding: 3px 5px 2px; }
      .l-logo a .ribbon:after {
        content: "";
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 100%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 0 5px;
        border-color: transparent transparent transparent #9c9ca1; }

.l-aside {
  display: none;
  width: 265px;
  padding-top: 90px;
  background: #f7f8f8; }
  @media (min-width: 850px) {
    .l-aside {
      display: block; } }

.l-content {
  width: 100%;
  background: #FFF;
  padding: 0; }
  @media (min-width: 850px) {
    .l-content {
      width: calc(100% - 265px); } }

.btn {
  -webkit-appearance: none;
  border: 1px solid transparent;
  background: none;
  outline: none;
  box-shadow: none;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-family: "Fira Sans"; }

.btn {
  background: #E5E5DF;
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 0px 12px;
  border-radius: 40px;
  font-size: 14px;
  text-decoration: none;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  text-transform: uppercase;
  color: #555;
  background: #FFF;
  border-color: #97bd3d;
  transition: background .15s linear; }
  .btn:hover {
    background: #f2f2f2;
    text-decoration: none !important; }
  .btn.disabled {
    opacity: 0.25;
    cursor: default; }

.m-breadcrumbs {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-size: 11px;
  margin: 5px 0 0px; }
  @media (min-width: 850px) {
    .m-breadcrumbs {
      margin: 0 0 10px; } }
  .m-breadcrumbs > * {
    margin: 0 0 0 5px;
    display: inline-block; }
    .m-breadcrumbs > *.-desktop {
      display: none; }
    @media (min-width: 850px) {
      .m-breadcrumbs > *.-desktop {
        display: inline-block; } }
    .m-breadcrumbs > *:first-child {
      margin: 0; }
    .m-breadcrumbs > * em {
      display: none; }
      @media (min-width: 850px) {
        .m-breadcrumbs > * em {
          display: inline; } }
  .m-breadcrumbs a {
    color: #97bd3d; }
    .m-breadcrumbs a:hover {
      text-decoration: underline; }

.m-header {
  padding: 70px 15px 40px;
  position: relative; }
  @media (min-width: 850px) {
    .m-header {
      padding: 70px 40px 0; } }
  .m-header h2 {
    font-size: 40px;
    font-weight: 300;
    position: relative;
    display: inline-block;
    padding: 15px 0;
    line-height: 1.125; }
    @media (min-width: 850px) {
      .m-header h2 {
        font-size: 47px;
        padding-right: 75px; } }
    .m-header h2.-bold {
      font-weight: 400; }
    .m-header h2.-toggle {
      padding-right: 200px;
      display: block; }
    .m-header h2 svg {
      display: none;
      fill: #97bd3d;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      margin: -5px 0 0; }
      @media (min-width: 850px) {
        .m-header h2 svg {
          display: block; } }
      .m-header h2 svg.-gfw {
        fill: #97bd3d; }
      .m-header h2 svg.-fires {
        fill: #ed1846; }
      .m-header h2 svg.-commodities {
        fill: #e98300; }
      .m-header h2 svg.-climate {
        fill: #5b80a0; }
  .m-header h3 {
    font-size: 15px;
    font-weight: 300; }
    @media (min-width: 850px) {
      .m-header h3 {
        font-size: 19px;
        margin: 0 0 40px; } }
  .m-header .m-faqs-select {
    width: 100%;
    position: relative;
    z-index: 2; }
    @media (min-width: 850px) {
      .m-header .m-faqs-select {
        position: absolute;
        top: 100px;
        right: 40px;
        width: 200px; } }

.m-aside {
  padding: 20px 40px;
  border-bottom: 1px solid #E5E5DF; }
  .m-aside:last-child {
    border-bottom: none; }
  .m-aside h2 {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #97bd3d;
    margin: 0 0 10px;
    text-transform: uppercase;
    cursor: pointer; }
    .m-aside h2 svg {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      margin: -6px 0 0;
      width: 12px;
      height: 12px;
      fill: #97bd3d;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      transition: all 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95); }
    .m-aside h2:hover {
      text-decoration: underline; }
    .m-aside h2.-collapsed svg {
      -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg); }
  .m-aside ul.-collapsed {
    display: none; }
  .m-aside ul li a {
    display: block;
    position: relative;
    font-size: 14px;
    color: #555;
    padding: 5px 0; }
    .m-aside ul li a:hover {
      color: #97bd3d; }
    .m-aside ul li a.-active {
      font-weight: 500;
      color: #333;
      cursor: default; }

.m-apps-tag {
  display: block; }
  .m-apps-tag.-inline {
    display: inline-block; }
  .m-apps-tag ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .m-apps-tag ul > li {
      text-transform: uppercase;
      font-size: 11px;
      margin-right: 10px; }
      .m-apps-tag ul > li:last-child {
        margin-right: 0px; }
      .m-apps-tag ul > li a {
        background: rgba(151, 189, 61, 0.25);
        color: #97bd3d;
        padding: 4px 10px 2px;
        display: block;
        margin: 0 0 5px; }
        .m-apps-tag ul > li a.fires {
          background: rgba(237, 24, 70, 0.25);
          color: #ed1846; }
        .m-apps-tag ul > li a.commodities {
          background: rgba(233, 131, 0, 0.25);
          color: #e98300; }
        .m-apps-tag ul > li a.climate {
          background: rgba(91, 128, 160, 0.25);
          color: #5b80a0; }
        .m-apps-tag ul > li a:hover {
          text-decoration: underline; }

.m-search .search-container {
  position: relative; }
  .m-search .search-container svg {
    display: none;
    fill: #B6B6BA;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
    .m-search .search-container svg.-search {
      left: 20px; }
    .m-search .search-container svg.-cross {
      left: auto;
      right: 20px;
      cursor: pointer; }
      .m-search .search-container svg.-cross:hover {
        fill: #ed1846; }
    .m-search .search-container svg.-active {
      display: block; }
  .m-search .search-container input {
    font-family: inherit;
    font-size: 19px;
    display: block;
    width: 100%;
    padding: 20px calc(6px + 32px + 30px);
    margin: 20px 0 0;
    font-weight: 300; }
    .m-search .search-container input::-webkit-input-placeholder {
      font-style: italic; }
    .m-search .search-container input:-moz-placeholder {
      /* Firefox 18- */
      font-style: italic; }
    .m-search .search-container input::-moz-placeholder {
      /* Firefox 19+ */
      font-style: italic; }
    .m-search .search-container input:-ms-input-placeholder {
      font-style: italic; }

.m-search .search-results {
  background: #eee;
  padding: 10px 20px;
  display: none; }
  .m-search .search-results.-active {
    display: block; }
  .m-search .search-results li {
    font-size: 14px;
    line-height: 1.25;
    margin: 5px 0 0; }
    .m-search .search-results li.-highlight a {
      color: #97bd3d; }
    .m-search .search-results li a {
      color: #555; }
      .m-search .search-results li a:hover {
        color: #97bd3d; }

.m-search.-small .search-container svg {
  width: 16px;
  height: 16px; }
  .m-search.-small .search-container svg.-search {
    left: 10px; }
  .m-search.-small .search-container svg.-cross {
    right: 10px; }

.m-search.-small .search-container input {
  font-size: 12px;
  display: block;
  width: 100%;
  padding: 8px calc(6px + 10px + 15px);
  margin: 0;
  font-weight: 300; }

.m-section.-padding {
  padding: 40px 15px; }
  @media (min-width: 850px) {
    .m-section.-padding {
      padding: 0px 40px 70px; } }

.m-section.-border {
  border-top: 1px solid #E5E5DF;
  padding-top: 70px; }

.m-section header h2 {
  font-size: 30px;
  line-height: 1.25;
  font-weight: 300;
  color: #555; }
  .m-section header h2.-bold {
    font-weight: 400; }
  @media (min-width: 850px) {
    .m-section header h2 {
      font-size: 35px;
      margin: 0 0 20px; } }
  .m-section header h2 a {
    color: inherit; }

.m-section .m-category-grid > li {
  display: none;
  padding: 20px 15px; }
  @media (min-width: 850px) {
    .m-section .m-category-grid > li {
      padding: 0px 40px 40px; } }
  .m-section .m-category-grid > li.-active {
    display: block; }

.m-content-grid > ul {
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .m-content-grid > ul > li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 15px 0 0;
    position: relative; }
    @media (min-width: 850px) {
      .m-content-grid > ul > li {
        width: 48%;
        margin: 0 0 4%; } }
    .m-content-grid > ul > li.-invisible {
      display: none; }

.m-content-grid .m-content-item .box {
  display: block;
  width: 100%;
  position: relative;
  border: 1px solid #E5E5DF; }
  .m-content-grid .m-content-item .box:hover .img.-video:before {
    background: #97bd3d; }
  .m-content-grid .m-content-item .box:hover .img.-video:after {
    border-left-color: #FFF; }

.m-content-grid .m-content-item .img {
  display: block;
  background-image: url("/howto/assets/images/thumbnail-post.png");
  background-color: #555;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  border-bottom: 1px solid #E5E5DF;
  position: relative; }
  .m-content-grid .m-content-item .img.-video:before, .m-content-grid .m-content-item .img.-video:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .m-content-grid .m-content-item .img.-video:before {
    width: 60px;
    height: 60px;
    background: #FFF;
    border-radius: 50%;
    z-index: 1; }
  .m-content-grid .m-content-item .img.-video:after {
    width: 0px;
    height: 0px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 20px solid #97bd3d;
    margin: 0 0 0 2px;
    z-index: 2; }

.m-content-grid .m-content-item .content {
  padding: 30px 15px; }
  @media (min-width: 850px) {
    .m-content-grid .m-content-item .content {
      padding: 40px; } }

.m-content-grid .m-content-item h3 {
  color: #97bd3d;
  text-transform: uppercase;
  font-size: 21px;
  position: relative;
  margin: 0 0 20px;
  line-height: 1.25; }
  .m-content-grid .m-content-item h3 a {
    color: #97bd3d; }

.m-content-grid .m-content-item p {
  color: #555;
  font-size: 14px; }

.m-content-grid .m-content-footer {
  padding: 30px 0 0; }
  .m-content-grid .m-content-footer a {
    text-transform: uppercase;
    font-size: 11px;
    color: #97bd3d; }
    .m-content-grid .m-content-footer a:hover {
      text-decoration: underline; }

.m-blog ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .m-blog ul li {
    position: relative;
    width: 100%;
    border-left: 1px solid #E5E5DF;
    background: #FFF; }
    @media (min-width: 850px) {
      .m-blog ul li {
        width: 50%; } }
    .m-blog ul li:first-child {
      border-left: none; }
    .m-blog ul li a {
      color: #555;
      padding: 15px;
      display: block; }
      @media (min-width: 850px) {
        .m-blog ul li a {
          padding: 50px; }
          .m-blog ul li a:hover h3 {
            text-decoration: underline; } }
    .m-blog ul li .img {
      padding-bottom: 170px;
      background: #555;
      background-repeat: no-repeat; }
      @media (min-width: 850px) {
        .m-blog ul li .img {
          padding-bottom: 270px; } }
      .m-blog ul li .img.-feature-posts {
        background: url("/howto/assets/images/categories/feature-posts.jpg") center;
        background-size: cover; }
      .m-blog ul li .img.-guest-post {
        background: url("/howto/assets/images/categories/guest-post.jpg") center;
        background-size: cover; }
      .m-blog ul li .img.-zooming-in {
        background: url("/howto/assets/images/categories/zooming-in.jpg") center;
        background-size: cover; }
      .m-blog ul li .img.-updates {
        background: url("/howto/assets/images/categories/updates.jpg") center;
        background-size: cover; }
      .m-blog ul li .img.-map-of-the-week {
        background: url("/howto/assets/images/categories/map-of-the-week.jpg") center;
        background-size: cover; }
      .m-blog ul li .img.-news-roundups {
        background: url("/howto/assets/images/categories/news-roundups.jpg") center;
        background-size: cover; }
      .m-blog ul li .img.-gfw-user-profile {
        background: url("/howto/assets/images/categories/gfw-user-profile.jpg") center;
        background-size: cover; }
      .m-blog ul li .img.-uncategorized {
        background: url("/howto/assets/images/categories/guest-post.jpg") center;
        background-size: cover; }
    .m-blog ul li h3 {
      font-size: 21px;
      text-transform: uppercase;
      line-height: 1.25;
      padding: 0 0 20px; }

.m-blog .m-blog-link {
  background: #555;
  padding: 30px 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .m-blog .m-blog-link a {
    position: relative;
    width: auto;
    height: 50px;
    line-height: 54px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin: 0 auto;
    padding: 0px 42px;
    color: #555;
    background: #FFF;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase; }
    @media (min-width: 850px) {
      .m-blog .m-blog-link a:hover {
        background: #f2f2f2; } }
    .m-blog .m-blog-link a svg {
      display: inline-block;
      fill: #555;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      width: 30px;
      height: 30px;
      margin: 0 5px 0 0; }

.m-filters {
  background: #f7f8f8;
  padding: 20px 20px 10px; }
  @media (min-width: 850px) {
    .m-filters {
      padding: 30px 40px 15px;
      margin: 0 0 40px; } }
  .m-filters ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .m-filters ul li {
      width: 100%;
      font-size: 16px;
      margin: 0 25px 15px 0; }
      @media (min-width: 500px) {
        .m-filters ul li {
          width: auto; } }
      .m-filters ul li:last-child {
        margin-right: 0; }

.m-checkbox input[type="checkbox"] {
  display: none; }

.m-checkbox input[type="checkbox"]:checked + label {
  color: #000; }
  .m-checkbox input[type="checkbox"]:checked + label span svg {
    display: block; }

.m-checkbox label {
  display: block;
  position: relative;
  padding-left: 25px;
  color: #555;
  cursor: pointer;
  white-space: nowrap; }
  .m-checkbox label span {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #CCC;
    left: 0;
    top: 50%;
    margin: -10px 0 0;
    background: #FFF;
    border-radius: 4px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .m-checkbox label span svg {
      width: 14px;
      height: 14px;
      fill: #97bd3d;
      display: none; }
  .m-checkbox label:hover {
    color: #000; }

.m-faqs {
  padding: 0px 15px 40px; }
  @media (min-width: 850px) {
    .m-faqs {
      padding: 0px 40px 40px; } }

.m-faqs-list > li {
  border-top: 1px solid #E5E5DF; }
  .m-faqs-list > li h3 {
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px 0;
    font-weight: 500;
    font-size: 13px;
    padding-right: 65px; }
    .m-faqs-list > li h3 .title {
      padding-right: 10px; }
    .m-faqs-list > li h3 .arrow {
      position: absolute;
      display: block;
      width: 60px;
      height: 50%;
      border-left: 1px solid #E5E5DF;
      top: 50%;
      right: 0;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); }
      .m-faqs-list > li h3 .arrow svg {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
  .m-faqs-list > li .content {
    display: none; }
  .m-faqs-list > li.-selected h3 {
    color: #97bd3d; }
    .m-faqs-list > li.-selected h3 .arrow svg {
      -webkit-transform: translate(-50%, -60%) rotate(180deg);
              transform: translate(-50%, -60%) rotate(180deg); }
  .m-faqs-list > li.-selected .content {
    display: block; }

.m-faqs-content {
  padding: 0px 0px 40px; }
  @media (min-width: 850px) {
    .m-faqs-content {
      padding: 10px 10px 40px; } }
  .m-faqs-content .content > * {
    padding-top: 20px; }
    .m-faqs-content .content > *:first-child {
      padding-top: 0; }
  .m-faqs-content a:not(.btn) {
    color: #97bd3d; }
    .m-faqs-content a:not(.btn):hover {
      text-decoration: underline; }
  .m-faqs-content h3 {
    font-size: 16px;
    font-weight: 500; }
  .m-faqs-content ul {
    list-style-type: disc;
    color: #555; }
    .m-faqs-content ul > li {
      list-style-type: disc;
      padding: 10px 0 0;
      margin-left: 20px;
      line-height: 1.25; }
      .m-faqs-content ul > li:first-child {
        padding: 0; }
  .m-faqs-content ol {
    counter-reset: mycounter; }
    .m-faqs-content ol li {
      margin-top: 20px;
      padding-left: 15px;
      position: relative; }
      .m-faqs-content ol li:first-child {
        margin-top: 0; }
      .m-faqs-content ol li:before {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        margin: 0 5px 0 0;
        content: counter(mycounter) ".";
        counter-increment: mycounter; }
      .m-faqs-content ol li > * {
        margin-top: 10px; }
  .m-faqs-content img {
    display: block;
    max-width: 100%; }

/* @group Base */
.m-select {
  /* @end */
  /* @group Single Chosen */
  /* @end */
  /* @group Active  */
  /* @end */
  /* @group Disabled Support */
  /* @end */ }
  .m-select select {
    width: 100%;
    height: 46px;
    position: relative;
    overflow: hidden;
    padding: 16px;
    border-radius: 0;
    background: #FFF;
    background-clip: padding-box;
    color: #555;
    text-decoration: none;
    white-space: nowrap;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    border: 1px solid #E5E5DF; }
  .m-select .chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    zoom: 1;
    display: inline-block;
    margin: 3px 0;
    /* @end */
    /* @group Results */ }
    .m-select .chosen-container .chosen-single {
      height: auto;
      position: relative;
      display: block;
      overflow: hidden;
      padding: 16px;
      border-radius: 0;
      background: #FFF;
      background-clip: padding-box;
      color: #555;
      text-decoration: none;
      white-space: nowrap;
      line-height: 1;
      font-weight: 400;
      text-transform: uppercase;
      outline: none;
      cursor: pointer;
      border: 1px solid #E5E5DF; }
      .m-select .chosen-container .chosen-single .chosen-default {
        color: #FFF; }
      .m-select .chosen-container .chosen-single span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 40px; }
    .m-select .chosen-container .chosen-drop {
      position: absolute;
      top: 100%;
      left: -9999px;
      z-index: 1010;
      width: 100%;
      border: 1px solid #E5E5DF;
      border-top: 0;
      background: #FFF; }
    .m-select .chosen-container .chosen-results {
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
      margin: 0;
      padding: 10px;
      max-height: 240px;
      -webkit-overflow-scrolling: touch; }
      .m-select .chosen-container .chosen-results li {
        display: none;
        margin: 0;
        padding: 5px 6px;
        list-style: none;
        line-height: 15px;
        color: #555;
        word-wrap: break-word; }
        .m-select .chosen-container .chosen-results li em {
          font-style: normal;
          text-decoration: underline; }
        .m-select .chosen-container .chosen-results li.active-result {
          display: list-item;
          cursor: pointer; }
        .m-select .chosen-container .chosen-results li.disabled-result {
          display: list-item;
          color: #ccc;
          cursor: default; }
        .m-select .chosen-container .chosen-results li.highlighted {
          background-color: #FAFAFA; }
        .m-select .chosen-container .chosen-results li.no-results {
          display: list-item;
          background: #f4f4f4; }
        .m-select .chosen-container .chosen-results li.group-result {
          display: list-item;
          color: #999;
          font-weight: bold;
          cursor: default; }
        .m-select .chosen-container .chosen-results li.group-option {
          padding-left: 15px; }
    .m-select .chosen-container.chosen-with-drop .chosen-drop {
      left: 0; }
    .m-select .chosen-container.default .chosen-single {
      color: #555;
      background-color: #FFF;
      border: 1px solid #E5E5DF; }
      .m-select .chosen-container.default .chosen-single .chosen-default {
        color: #555; }
      .m-select .chosen-container.default .chosen-single abbr {
        display: block; }
    .m-select .chosen-container.with-selection .chosen-single {
      color: #FFF;
      background-color: #555;
      border: 1px solid #555; }
      .m-select .chosen-container.with-selection .chosen-single .chosen-default {
        color: #555; }
      .m-select .chosen-container.with-selection .chosen-single abbr {
        display: block; }
      .m-select .chosen-container.with-selection .chosen-single div b {
        background: url("/howto/assets/images/arrow-down.svg") center no-repeat;
        background-size: contain; }
  .m-select .chosen-container-single {
    outline: none; }
    .m-select .chosen-container-single .chosen-single abbr {
      position: absolute;
      top: 50%;
      right: 30px;
      display: none;
      width: 16px;
      height: 16px;
      line-height: 16px;
      font-size: 10px;
      text-align: center;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      font-family: Arial;
      font-weight: 700;
      color: #555;
      border: 1px solid #555;
      border-radius: 50%; }
      .m-select .chosen-container-single .chosen-single abbr:after {
        content: "X";
        display: block;
        width: 100%;
        height: 100%; }
      .m-select .chosen-container-single .chosen-single abbr:hover {
        color: red;
        border: 1px solid red; }
    .m-select .chosen-container-single .chosen-single div {
      position: absolute;
      top: 0;
      right: 0px;
      width: 40px;
      height: 100%;
      border-left: 1px solid #E5E5DF; }
      .m-select .chosen-container-single .chosen-single div b {
        display: block;
        width: 14px;
        margin: 0 auto;
        height: 100%;
        background: url("/howto/assets/images/arrow-down.svg") center no-repeat;
        background-size: contain; }
    .m-select .chosen-container-single .chosen-search {
      position: relative;
      z-index: 1010;
      margin: 0;
      padding: 3px 16px;
      white-space: nowrap; }
      .m-select .chosen-container-single .chosen-search input {
        margin: 1px 0;
        padding: 8px 4px 8px 26px;
        width: 100%;
        outline: 0;
        border-radius: 0;
        border: 1px solid #E5E5DF;
        font-size: 1em;
        font-family: sans-serif; }
    .m-select .chosen-container-single .chosen-drop {
      background-clip: padding-box; }
    .m-select .chosen-container-single.chosen-container-single-nosearch .chosen-search {
      position: absolute;
      left: -9999px; }
    .m-select .chosen-container-single.default .chosen-single div {
      display: block; }
  .m-select .chosen-disabled {
    opacity: 0.5 !important;
    cursor: default; }
  .m-select .chosen-disabled .chosen-single {
    cursor: default; }
  .m-select .chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default; }

.m-select-autocomplete {
  margin: 0.5% 0;
  min-height: 40px;
  /* @end */
  /* @group Single Chosen */
  /* @end */
  /* @group Active  */
  /* @end */
  /* @group Disabled Support */
  /* @end */ }
  .m-select-autocomplete .btn-delete {
    display: none;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translate(0, -58%);
            transform: translate(0, -58%);
    fill: #ed1846;
    cursor: pointer;
    z-index: 5;
    border-radius: 50%;
    border: 1px solid #ed1846;
    padding: 1px; }
    .m-select-autocomplete .btn-delete svg {
      width: 100%;
      height: 100%; }
    .m-select-autocomplete .btn-delete.is-active {
      display: block; }
  .m-select-autocomplete .chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    zoom: 1;
    *display: inline;
    margin: 3px 0;
    /* @end */
    /* @group Results */ }
    .m-select-autocomplete .chosen-container .chosen-single {
      height: auto;
      position: relative;
      display: block;
      overflow: hidden;
      padding: 8px 16px;
      background: #FFF;
      background-clip: padding-box;
      color: #555;
      text-decoration: none;
      white-space: nowrap;
      line-height: 1;
      font-weight: 400;
      outline: none;
      cursor: pointer;
      border: 1px solid #555; }
      .m-select-autocomplete .chosen-container .chosen-single .chosen-default {
        color: #FFF; }
      .m-select-autocomplete .chosen-container .chosen-single span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 20px; }
    .m-select-autocomplete .chosen-container .chosen-drop {
      position: absolute;
      top: -5px;
      left: -9999px;
      z-index: 1050;
      width: 100%;
      border: 1px solid #555;
      background: #FFF; }
    .m-select-autocomplete .chosen-container .chosen-results {
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
      margin: 0;
      padding: 10px;
      max-height: 240px;
      -webkit-overflow-scrolling: touch; }
      .m-select-autocomplete .chosen-container .chosen-results li {
        display: none;
        margin: 0;
        padding: 5px 6px;
        list-style: none;
        line-height: 15px;
        color: #555; }
        .m-select-autocomplete .chosen-container .chosen-results li em {
          font-style: normal;
          text-decoration: underline; }
        .m-select-autocomplete .chosen-container .chosen-results li.active-result {
          display: list-item;
          cursor: pointer; }
        .m-select-autocomplete .chosen-container .chosen-results li.disabled-result {
          display: list-item;
          color: #ccc;
          cursor: default; }
        .m-select-autocomplete .chosen-container .chosen-results li.highlighted {
          background-color: #FAFAFA; }
        .m-select-autocomplete .chosen-container .chosen-results li.no-results {
          display: list-item;
          background: #f4f4f4; }
        .m-select-autocomplete .chosen-container .chosen-results li.group-result {
          display: list-item;
          color: #999;
          font-weight: bold;
          cursor: default; }
        .m-select-autocomplete .chosen-container .chosen-results li.group-option {
          padding-left: 15px; }
    .m-select-autocomplete .chosen-container.chosen-with-drop .chosen-drop {
      left: 0; }
    .m-select-autocomplete .chosen-container.chosen-with-drop .chosen-single {
      display: none; }
  .m-select-autocomplete .chosen-container-single {
    outline: none; }
    .m-select-autocomplete .chosen-container-single .chosen-single abbr {
      position: absolute;
      top: 50%;
      right: 30px;
      display: none;
      width: 16px;
      height: 16px;
      line-height: 16px;
      font-size: 10px;
      text-align: center;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      font-family: Arial;
      font-weight: 700;
      color: #555;
      border: 1px solid #555;
      border-radius: 50%; }
      .m-select-autocomplete .chosen-container-single .chosen-single abbr:after {
        content: "X";
        display: block;
        width: 100%;
        height: 100%; }
      .m-select-autocomplete .chosen-container-single .chosen-single abbr:hover {
        color: red;
        border: 1px solid red; }
    .m-select-autocomplete .chosen-container-single .chosen-single div {
      position: absolute;
      top: 0;
      left: 0px;
      width: 40px;
      height: 100%; }
      .m-select-autocomplete .chosen-container-single .chosen-single div b {
        display: block;
        width: 20px;
        margin: 0 auto;
        height: 100%;
        background: url("svg-map/control-search.svg") center no-repeat;
        background-size: contain; }
    .m-select-autocomplete .chosen-container-single .chosen-search {
      position: relative;
      z-index: 1010;
      margin: 0;
      padding: 10px;
      white-space: nowrap; }
      .m-select-autocomplete .chosen-container-single .chosen-search input[type="text"] {
        margin: 1px 0;
        padding: 8px 4px 8px 26px;
        width: 100%;
        outline: 0;
        border-radius: 0;
        border: 1px solid #E5E5DF;
        font-size: 1em;
        font-family: sans-serif;
        background-size: 20px; }
    .m-select-autocomplete .chosen-container-single .chosen-drop {
      background-clip: padding-box; }
    .m-select-autocomplete .chosen-container-single.chosen-container-single-nosearch .chosen-search {
      position: absolute;
      left: -9999px; }
    .m-select-autocomplete .chosen-container-single.default .chosen-single div {
      display: block; }
  .m-select-autocomplete .chosen-disabled {
    opacity: 0.5 !important;
    cursor: default; }
  .m-select-autocomplete .chosen-disabled .chosen-single {
    cursor: default; }
  .m-select-autocomplete .chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default; }

.simple-pagination {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 0;
  margin: 0 auto;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }

.simple-pagination ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden; }

.simple-pagination ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left; }

/*------------------------------------*  Light Theme Styles
\*------------------------------------*/
.simple-pagination.light-theme a, .simple-pagination.light-theme span {
  float: left;
  color: #555;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  min-width: 24px;
  margin: 0 10px 0 0;
  background: none;
  text-decoration: none; }

.simple-pagination.light-theme a:hover {
  text-decoration: none;
  color: #97bd3d; }

.simple-pagination.light-theme .current {
  cursor: default;
  border-bottom: 2px solid #97bd3d; }

.simple-pagination.light-theme .next, .simple-pagination.light-theme .prev {
  background: #97bd3d;
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%; }
  .simple-pagination.light-theme .next:hover, .simple-pagination.light-theme .prev:hover {
    background: #a2c64e; }
  .simple-pagination.light-theme .next.current, .simple-pagination.light-theme .prev.current {
    display: none; }
  .simple-pagination.light-theme .next:before, .simple-pagination.light-theme .prev:before {
    content: "";
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%; }

.simple-pagination.light-theme .prev:before {
  background: url("/howto/assets/images/arrow-left.svg") center no-repeat;
  -webkit-transform: translate(-55%, -50%);
          transform: translate(-55%, -50%);
  background-size: contain; }

.simple-pagination.light-theme .next:before {
  background: url("/howto/assets/images/arrow-right.svg") center no-repeat;
  -webkit-transform: translate(-45%, -50%);
          transform: translate(-45%, -50%);
  background-size: contain; }

.simple-pagination.light-theme .ellipse {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-weight: 500;
  cursor: default; }

.m-post {
  padding: 0 15px 40px;
  font-size: 14px; }
  @media (min-width: 850px) {
    .m-post {
      padding: 40px; } }
  .m-post .content > * {
    padding-top: 20px; }
    .m-post .content > *:first-child {
      padding-top: 0; }
  .m-post a:not(.btn) {
    color: #97bd3d; }
    .m-post a:not(.btn):hover {
      text-decoration: underline; }
  .m-post h2 {
    font-size: 40px;
    font-weight: 300;
    position: relative;
    display: inline-block;
    line-height: 1.125; }
  .m-post h3 {
    font-size: 16px;
    font-weight: 500; }
  .m-post h4 {
    font-size: 14px;
    font-weight: 500; }
  .m-post ul {
    list-style-type: disc;
    color: #555; }
    .m-post ul > li {
      list-style-type: disc;
      padding: 10px 0 0;
      margin-left: 20px;
      line-height: 1.25; }
      .m-post ul > li:first-child {
        padding: 0; }
  .m-post ol {
    counter-reset: mycounter; }
    .m-post ol li {
      margin-top: 20px;
      padding-left: 15px;
      position: relative; }
      .m-post ol li:first-child {
        margin-top: 0; }
      .m-post ol li:before {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 16px;
        font-weight: 500;
        display: inline-block;
        margin: 0 5px 0 0;
        content: counter(mycounter) ".";
        counter-increment: mycounter; }
      .m-post ol li > * {
        margin-top: 10px; }
  .m-post img {
    display: block;
    max-width: 100%;
    border: 1px solid #E5E5DF; }
  .m-post .code {
    background: #EEE;
    padding: 0 5px;
    border-radius: 5px;
    color: #008080;
    font-weight: 400; }
    .m-post .code.-string {
      color: #555; }
  .m-post .image-grid {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .m-post .image-grid > * {
      width: 47.5%;
      height: auto;
      margin: 2.5% 0; }
  .m-post .image-grid-mobile {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .m-post .image-grid-mobile > * {
      margin: 2.5% 5% 2.5% 0; }
  .m-post .video {
    padding-bottom: 56.2790%;
    position: relative;
    overflow: hidden; }
    .m-post .video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.m-toggle-howto {
  position: absolute;
  top: -60px;
  right: 0px;
  font-size: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 130px;
  border-radius: 20px;
  background: #97bd3d;
  border: 1px solid #E5E5DF; }
  @media (min-width: 850px) {
    .m-toggle-howto {
      position: absolute;
      top: 0%;
      right: 0;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      min-width: 220px; } }
  .m-toggle-howto .skitter {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 50%;
    height: 100%;
    border-radius: 20px;
    background: #FFF;
    border: 1px solid #97bd3d;
    transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95); }
  .m-toggle-howto span {
    position: relative;
    z-index: 2;
    padding: 4px 5px 1px;
    color: #FFF;
    font-weight: 500;
    width: 50%;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95); }
    @media (min-width: 850px) {
      .m-toggle-howto span {
        padding: 6px 10px 5px; } }
    .m-toggle-howto span.-active {
      color: #555; }

.m-by-app {
  padding: 25px 0 0; }
  @media (min-width: 850px) {
    .m-by-app {
      padding: 0; } }
  .m-by-app ul {
    margin: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media (min-width: 850px) {
      .m-by-app ul {
        margin: -4% 0 0; } }
    .m-by-app ul li {
      width: 100%;
      margin: 15px 0 0;
      color: #FFF;
      position: relative;
      background: #97bd3d; }
      @media (min-width: 850px) {
        .m-by-app ul li {
          width: 22%;
          margin: 4% 0 0; } }
      .m-by-app ul li > a {
        display: block;
        padding: 20px 20px 40px; }
        @media (min-width: 850px) {
          .m-by-app ul li > a {
            padding: 40px 10px; } }
      .m-by-app ul li.-gfw {
        background: #97bd3d; }
      .m-by-app ul li.-fires {
        background: #ed1846; }
      .m-by-app ul li.-commodities {
        background: #e98300; }
      .m-by-app ul li.-climate {
        background: #5b80a0; }
      @media (min-width: 850px) {
        .m-by-app ul li:hover {
          background: #a2c64e; }
        .m-by-app ul li.-gfw:hover {
          background: #a2c64e; }
        .m-by-app ul li.-fires:hover {
          background: #ef3059; }
        .m-by-app ul li.-commodities:hover {
          background: #ff9104; }
        .m-by-app ul li.-climate:hover {
          background: #6a8daa; } }
      .m-by-app ul li h2 {
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        font-size: 14px;
        position: relative;
        line-height: 1.2; }
      .m-by-app ul li svg {
        display: block;
        fill: #FFF;
        width: 20px;
        height: 20px;
        margin: 0 auto 15px; }
        @media (min-width: 850px) {
          .m-by-app ul li svg {
            width: 66px;
            height: 66px; } }
      .m-by-app ul li p {
        color: #FFF;
        font-size: 14px; }

.m-ranking {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .m-ranking .col {
    width: 48%;
    padding: 40px;
    border: 1px solid #E5E5DF; }
    .m-ranking .col.-w100 {
      width: 100%; }
  .m-ranking header h2 {
    font-size: 21px;
    padding: 0 0 15px;
    margin: 0; }
  .m-ranking h3 {
    font-size: 13px;
    text-transform: uppercase;
    color: #97bd3d;
    font-weight: 500;
    display: inline-block;
    padding-right: 10px; }
    .m-ranking h3 a {
      color: #97bd3d; }
  .m-ranking .ranking-list > li {
    padding: 15px 0;
    border-bottom: 1px solid #E5E5DF; }
    .m-ranking .ranking-list > li > * {
      margin: 5px 0 0; }
      .m-ranking .ranking-list > li > *:first-child {
        margin-top: 0; }
  .m-ranking .link {
    font-size: 13px;
    display: block;
    margin: 20px 0 0; }

.highlight {
  background: #eee;
  padding: 15px;
  margin: 10px 0; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
