*, *:after, *:before {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: "Fira Sans", Helvetica;
  font-size: 14px;
  color: #555; }
  html.-no-scroll, body.-no-scroll {
    overflow: hidden; }

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

button {
  display: inline-block;
  box-shadow: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer; }

.-hidden {
  display: none; }

.m-search .search-container input {
  font-size: 14px;
  margin: 0;
  border: 1px solid #E5E5DF;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  appearance: none; }

.l-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (min-width: 850px) {
    .l-wrapper {
      max-width: 1024px;
      width: 95%; } }
  @media (min-width: 1400px) {
    .l-wrapper {
      max-width: 1200px;
      width: 75%; } }

.l-logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  text-indent: -9999px;
  width: 90px;
  height: 90px;
  background-image: url("/assets/images/logo.png"); }
  .l-logo a {
    display: block;
    width: 100%;
    height: 100%; }

.l-aside {
  width: 265px;
  padding-top: 90px;
  background: #f7f8f8; }

.l-content {
  width: calc(100% - 265px);
  background: #FFF;
  padding: 50px; }
  .l-content > * {
    padding: 40px 0; }
    .l-content > *:first-child {
      padding-top: 0; }
    .l-content > *:last-child {
      padding-bottom: 0; }

.btn {
  -webkit-appearance: none;
  border: 1px solid transparent;
  background: none;
  outline: none;
  box-shadow: none;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-family: "Fira Sans"; }

.btn {
  background: #E5E5DF;
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 0px 12px;
  border-radius: 40px;
  font-size: 14px;
  text-decoration: none;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  text-transform: uppercase;
  color: #555;
  background: #FFF;
  border-color: #97bd3d;
  transition: background .15s linear; }
  .btn:hover {
    background: #f2f2f2;
    text-decoration: none !important; }
  .btn.disabled {
    opacity: 0.25;
    cursor: default; }

.m-breadcrumbs {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-size: 11px;
  margin: 0 0 10px; }
  .m-breadcrumbs > * {
    margin: 0 0 0 5px; }
    .m-breadcrumbs > *:first-child {
      margin: 0; }
  .m-breadcrumbs a {
    color: #97bd3d; }
    .m-breadcrumbs a:hover {
      text-decoration: underline; }

.m-header h2 {
  font-size: 47px;
  font-weight: 300;
  position: relative;
  display: inline-block;
  padding: 15px 0;
  padding-right: 75px;
  line-height: 1.125; }
  .m-header h2.-toggle {
    padding-right: 200px;
    display: block; }
  .m-header h2 svg {
    fill: #97bd3d;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    margin: -5px 0 0; }
    .m-header h2 svg.-gfw {
      fill: #97bd3d; }
    .m-header h2 svg.-fires {
      fill: #ed1846; }
    .m-header h2 svg.-commodities {
      fill: #e98300; }
    .m-header h2 svg.-climate {
      fill: #5b80a0; }

.m-header h3 {
  font-size: 19px;
  font-weight: 300; }

.m-aside, .m-search {
  padding: 20px 40px;
  border-top: 1px solid #E5E5DF; }
  .m-aside:first-child, .m-search:first-child {
    border-top: none; }

.m-aside h2 {
  font-size: 13px;
  font-weight: 500;
  color: #b6b6ba;
  padding: 0 0 10px; }

.m-aside ul li a {
  display: block;
  position: relative;
  font-size: 14px;
  color: #555;
  padding: 5px 0 5px 28px; }
  .m-aside ul li a:hover, .m-aside ul li a.-active {
    color: #97bd3d; }
    .m-aside ul li a:hover svg, .m-aside ul li a.-active svg {
      fill: #97bd3d; }
  .m-aside ul li a.fires:hover, .m-aside ul li a.fires.-active {
    color: #ed1846; }
    .m-aside ul li a.fires:hover svg, .m-aside ul li a.fires.-active svg {
      fill: #ed1846; }
  .m-aside ul li a.commodities:hover, .m-aside ul li a.commodities.-active {
    color: #e98300; }
    .m-aside ul li a.commodities:hover svg, .m-aside ul li a.commodities.-active svg {
      fill: #e98300; }
  .m-aside ul li a.climate:hover, .m-aside ul li a.climate.-active {
    color: #5b80a0; }
    .m-aside ul li a.climate:hover svg, .m-aside ul li a.climate.-active svg {
      fill: #5b80a0; }
  .m-aside ul li a svg {
    display: block;
    position: absolute;
    top: 50%;
    left: 0%;
    -webkit-transform: translate(0%, -60%);
            transform: translate(0%, -60%);
    width: 20px;
    height: 20px;
    fill: #555; }

.m-search .search-container {
  position: relative; }
  .m-search .search-container svg {
    display: none;
    fill: #555;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
    .m-search .search-container svg.-search {
      left: 10px; }
    .m-search .search-container svg.-cross {
      left: auto;
      right: 10px;
      cursor: pointer; }
    .m-search .search-container svg.-active {
      display: block; }
  .m-search .search-container input {
    display: block;
    width: 100%;
    padding: 6px calc(6px + 14px + 10px); }

.m-search .search-results {
  background: #eee;
  padding: 10px 20px;
  display: none; }
  .m-search .search-results.-active {
    display: block; }
  .m-search .search-results li {
    font-size: 14px;
    line-height: 1.25;
    margin: 5px 0 0; }
    .m-search .search-results li.-highlight a {
      color: #97bd3d; }
    .m-search .search-results li a {
      color: #555; }
      .m-search .search-results li a:hover {
        color: #97bd3d; }

.m-section {
  border-top: 1px solid #E5E5DF; }
  .m-section header h2 {
    font-size: 35px;
    font-weight: 300;
    color: #555; }
    .m-section header h2 a {
      color: inherit; }
  .m-section .m-category-grid > li {
    display: none; }
    .m-section .m-category-grid > li.-active {
      display: block; }

.m-content-grid {
  padding: 50px 0; }
  .m-content-grid ul {
    margin: -4% 0 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .m-content-grid ul li {
      width: 48%;
      margin: 4% 0 0;
      position: relative; }
  .m-content-grid .m-content-item a {
    display: block;
    position: relative;
    border: 1px solid #E5E5DF; }
  .m-content-grid .m-content-item .img {
    background-image: url("/assets/images/thumbnail-post.png");
    background-size: cover;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    border-bottom: 1px solid #E5E5DF; }
  .m-content-grid .m-content-item .content {
    padding: 40px; }
  .m-content-grid .m-content-item h3 {
    color: #97bd3d;
    text-transform: uppercase;
    font-size: 21px;
    position: relative;
    margin: 0 0 20px;
    line-height: 1.25; }
  .m-content-grid .m-content-item p {
    color: #555;
    font-size: 14px; }
  .m-content-grid .m-content-footer {
    padding: 30px 0 0; }
    .m-content-grid .m-content-footer a {
      text-transform: uppercase;
      font-size: 11px;
      color: #97bd3d; }
      .m-content-grid .m-content-footer a:hover {
        text-decoration: underline; }

.m-blog ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .m-blog ul li {
    position: relative;
    width: 50%;
    border-left: 1px solid #E5E5DF; }
    .m-blog ul li:first-child {
      border-left: none; }
    .m-blog ul li a {
      color: #555; }
      .m-blog ul li a:hover {
        text-decoration: underline; }
    .m-blog ul li .img {
      padding-bottom: 270px;
      background: #555;
      background-repeat: no-repeat; }
      .m-blog ul li .img.-feature-posts {
        background: url("/assets/images/categories/feature-posts.jpg") center;
        background-size: cover; }
      .m-blog ul li .img.-guest-post {
        background: url("/assets/images/categories/guest-post.jpg") center;
        background-size: cover; }
      .m-blog ul li .img.-zooming-in {
        background: url("/assets/images/categories/zooming-in.jpg") center;
        background-size: cover; }
      .m-blog ul li .img.-updates {
        background: url("/assets/images/categories/updates.jpg") center;
        background-size: cover; }
      .m-blog ul li .img.-map-of-the-week {
        background: url("/assets/images/categories/map-of-the-week.jpg") center;
        background-size: cover; }
      .m-blog ul li .img.-news-roundups {
        background: url("/assets/images/categories/news-roundups.jpg") center;
        background-size: cover; }
      .m-blog ul li .img.-gfw-user-profile {
        background: url("/assets/images/categories/gfw-user-profile.jpg") center;
        background-size: cover; }
    .m-blog ul li h3 {
      font-size: 21px;
      text-transform: uppercase;
      padding: 50px;
      line-height: 1.25; }

.m-faqs {
  padding: 0 0 50px; }

.m-faqs-list > li {
  border-top: 1px solid #E5E5DF; }
  .m-faqs-list > li h3 {
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px 0;
    font-weight: 500;
    font-size: 13px; }
    .m-faqs-list > li h3 .arrow {
      position: absolute;
      display: block;
      width: 60px;
      height: 50%;
      border-left: 1px solid #E5E5DF;
      top: 50%;
      right: 0;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); }
      .m-faqs-list > li h3 .arrow svg {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
  .m-faqs-list > li .content {
    display: none; }
  .m-faqs-list > li.-selected h3 {
    color: #97bd3d; }
    .m-faqs-list > li.-selected h3 .arrow svg {
      -webkit-transform: translate(-50%, -60%) rotate(180deg);
              transform: translate(-50%, -60%) rotate(180deg); }
  .m-faqs-list > li.-selected .content {
    display: block; }

.m-faqs-content {
  padding: 10px 10px 40px; }
  .m-faqs-content > * {
    padding-top: 20px; }
    .m-faqs-content > *:first-child {
      padding-top: 0; }
  .m-faqs-content a:not(.btn) {
    color: #97bd3d; }
    .m-faqs-content a:not(.btn):hover {
      text-decoration: underline; }
  .m-faqs-content h3 {
    font-size: 16px;
    font-weight: 500; }
  .m-faqs-content ul {
    list-style-type: disc;
    color: #555; }
    .m-faqs-content ul > li {
      list-style-type: disc;
      padding: 10px 0 0;
      margin-left: 20px;
      line-height: 1.25; }
      .m-faqs-content ul > li:first-child {
        padding: 0; }
  .m-faqs-content ol {
    counter-reset: mycounter; }
    .m-faqs-content ol li {
      margin-top: 20px;
      padding-left: 15px;
      position: relative; }
      .m-faqs-content ol li:first-child {
        margin-top: 0; }
      .m-faqs-content ol li:before {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        margin: 0 5px 0 0;
        content: counter(mycounter) ".";
        counter-increment: mycounter; }
      .m-faqs-content ol li > * {
        margin-top: 10px; }
  .m-faqs-content img {
    display: block;
    max-width: 100%; }

.m-post {
  padding: 0 0 50px;
  font-size: 14px; }
  .m-post .content {
    display: none; }
    .m-post .content > * {
      padding-top: 20px; }
      .m-post .content > *:first-child {
        padding-top: 0; }
  .m-post a:not(.btn) {
    color: #97bd3d; }
    .m-post a:not(.btn):hover {
      text-decoration: underline; }
  .m-post h3 {
    font-size: 16px;
    font-weight: 500; }
  .m-post ul {
    list-style-type: disc;
    color: #555; }
    .m-post ul > li {
      list-style-type: disc;
      padding: 10px 0 0;
      margin-left: 20px;
      line-height: 1.25; }
      .m-post ul > li:first-child {
        padding: 0; }
  .m-post ol {
    counter-reset: mycounter; }
    .m-post ol li {
      margin-top: 20px;
      padding-left: 15px;
      position: relative; }
      .m-post ol li:first-child {
        margin-top: 0; }
      .m-post ol li:before {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        margin: 0 5px 0 0;
        content: counter(mycounter) ".";
        counter-increment: mycounter; }
      .m-post ol li > * {
        margin-top: 10px; }
  .m-post img {
    display: block;
    max-width: 100%; }

.m-toggle-howto {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 220px;
  border-radius: 20px;
  background: #97bd3d;
  border: 1px solid #E5E5DF; }
  .m-toggle-howto .skitter {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 50%;
    height: 100%;
    border-radius: 20px;
    background: #FFF;
    border: 1px solid #97bd3d;
    transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95); }
  .m-toggle-howto span {
    position: relative;
    z-index: 2;
    padding: 5px 10px;
    color: #FFF;
    font-weight: 500;
    width: 50%;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95); }
    .m-toggle-howto span.-active {
      color: #555; }

.m-by-theme {
  padding: 50px 0; }
  .m-by-theme .m-slider {
    width: 100%; }
    .m-by-theme .m-slider .frame {
      width: 100%;
      position: relative;
      font-size: 0;
      overflow: hidden;
      white-space: nowrap; }
    .m-by-theme .m-slider ul {
      display: inline-block; }
      .m-by-theme .m-slider ul li {
        position: relative;
        display: inline-block;
        vertical-align: top; }
        .m-by-theme .m-slider ul li a {
          display: block; }
          .m-by-theme .m-slider ul li a > * {
            padding: 25px 0 0; }
            .m-by-theme .m-slider ul li a > *:first-child {
              padding: 0; }
          .m-by-theme .m-slider ul li a svg {
            display: block;
            width: 50px;
            height: 50px;
            fill: #97bd3d; }
          .m-by-theme .m-slider ul li a h2 {
            color: #97bd3d;
            text-transform: uppercase;
            font-size: 21px; }
          .m-by-theme .m-slider ul li a p {
            padding: 15px 0 0;
            font-size: 14px;
            color: #555;
            max-width: 75%;
            white-space: normal; }
          .m-by-theme .m-slider ul li a:hover h2 {
            text-decoration: underline; }
  .m-by-theme .m-slider-navigation {
    padding: 50px 0 0; }
    .m-by-theme .m-slider-navigation ul {
      position: relative;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0); }
      .m-by-theme .m-slider-navigation ul li {
        margin: 0 0 0 10px; }
        .m-by-theme .m-slider-navigation ul li:first-child {
          margin: 0; }
    .m-by-theme .m-slider-navigation .item {
      position: relative;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      font-size: 18px;
      line-height: 44px;
      text-align: center;
      cursor: pointer;
      color: #97bd3d;
      border: 2px solid #97bd3d; }
      .m-by-theme .m-slider-navigation .item.-active {
        color: #b6b6ba;
        border-color: #b6b6ba;
        cursor: default;
        pointer-events: none; }
      .m-by-theme .m-slider-navigation .item.-arrow {
        border: none; }
        .m-by-theme .m-slider-navigation .item.-arrow svg {
          fill: #b6b6ba;
          display: block;
          width: 28px;
          height: 28px;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
        .m-by-theme .m-slider-navigation .item.-arrow:hover {
          background: none; }
          .m-by-theme .m-slider-navigation .item.-arrow:hover svg {
            fill: #97bd3d; }
      .m-by-theme .m-slider-navigation .item:hover {
        color: #FFF;
        background: #97bd3d; }
    .m-by-theme .m-slider-navigation button {
      position: absolute;
      border: none; }

.m-by-app {
  padding: 50px 0; }
  .m-by-app ul {
    margin: -4% 0 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .m-by-app ul li {
      padding: 40px;
      width: 48%;
      margin: 4% 0 0;
      color: #FFF;
      position: relative; }
      .m-by-app ul li.-gfw {
        background: #97bd3d; }
        .m-by-app ul li.-gfw:hover {
          background: #a2c64e; }
      .m-by-app ul li.-fires {
        background: #ed1846; }
        .m-by-app ul li.-fires:hover {
          background: #ef3059; }
      .m-by-app ul li.-commodities {
        background: #e98300; }
        .m-by-app ul li.-commodities:hover {
          background: #ff9104; }
      .m-by-app ul li.-climate {
        background: #5b80a0; }
        .m-by-app ul li.-climate:hover {
          background: #6a8daa; }
      .m-by-app ul li h2 {
        color: #FFF;
        text-transform: uppercase;
        font-size: 21px;
        position: relative;
        margin: 0 0 30px; }
      .m-by-app ul li svg {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
        fill: #FFF;
        width: 35px;
        height: 35px; }
      .m-by-app ul li p {
        color: #FFF;
        font-size: 14px; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
