---
layout: default
title: How to
subtitle: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud."
---

<header class="m-header">
  <h2>{{page.title}}</h2>
  <h3>{{page.subtitle}}</h3>
</header>

<section class="m-section -padding">
  <header>
    <h2>Find content by theme</h2>
  </header>
  <!-- By theme grid -->
  {% include by-theme.html %}
</section>

<section class="m-section -padding">
  <header>
    <h2>Find content by application</h2>
  </header>
  <!-- By application grid -->
  {% include by-app.html %}
</section>

<section class="m-section -padding">
  <!-- By faqs module -->
  {% include by-faqs.html %}
</section>


