---
layout: default
title: How to
subtitle: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud."
---

<header class="m-header">
  <h2>{{page.title}}</h2>
  <h3>{{page.subtitle}}</h3>
</header>

<section class="m-section -padding">
  <header>
    <h2>How can we help you?</h2>
  </header>
  <div id="searchView" class="m-search">
    <div class="search-container">
      <svg class="-active -search"><use xlink:href="#icon-search"></use></svg>
      <svg id="search-close" class="-cross"><use xlink:href="#icon-cross"></use></svg>
      <input id="search-input" type="text" placeholder="e.g. How do I analyze data?">
    </div>
    <ul id="search-results" class="search-results"></ul>
  </div>  
</section>

<section class="m-section -padding">
  <!-- By ranking module -->
  {% include by-ranking.html %}
</section>

<section class="m-section -padding">
  <header>
    <h2>Find content by application</h2>
  </header>
  <!-- By application grid -->
  {% include by-app.html %}
</section>


