<div class="m-aside">
  <h2 class="js-toggle-list" data-submenu="subjects-submenu">Subjects <svg><use xlink:href="#icon-arrowdown"></use></svg></h2>
  <ul id="subjects-submenu">
    {% for tag in site.tags_info %}
      {% if tag[1].type == "subject" %}
      <li>
        <a class="-theme" id="aside-{{ tag[0] | slugify }}" href="{{site.baseurl}}/themes/{{ tag[0] | slugify }}">
          {{ tag[1].title }}
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="m-aside">
  <h2 class="js-toggle-list" data-submenu="materials-submenu">Materials <svg><use xlink:href="#icon-arrowdown"></use></svg></h2>
  <ul id="materials-submenu">
    {% for tag in site.tags_info %}
      {% if tag[1].type == "material" %}
      <li>
        <a class="-theme" id="aside-{{ tag[0] | slugify }}" href="{{site.baseurl}}/themes/{{ tag[0] | slugify }}">
          {{ tag[1].title }}
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

