{% if page.layout == 'post' %}
  <div class="m-breadcrumbs">
    <a href="{{site.url}}">How to</a>
    <span>/</span>
    <a href="apps/{{page.categories[0] | slugify}}">{{page.categories}}</a>
    <span>/</span>
    <a href="apps/{{page.tags[0] | slugify}}">{{page.tags}}</a>
    <span>/</span>
    <span>{{page.title | capitalize}}</span>
  </div>
{% else %}
  <div class="m-breadcrumbs">
    <a href="{{site.url}}">How to</a> <span>/</span> <span>{{page.title | capitalize}}</span>
  </div>
{% endif %}
