{% if page.layout == 'post' %}
  <div class="m-breadcrumbs">
    <a href="{{site.baseurl}}/">How to</a>
    <span>/</span>
    <a href="{{site.baseurl}}/apps/{{page.categories[0] | slugify}}">{{page.categories}}</a>
    <span>/</span>
    <a href="{{site.baseurl}}/themes/{{page.tags[0] | slugify}}">{{page.tags}}</a>
    <span class="-desktop">/</span>
    <span class="-desktop">{{page.title | capitalize}}</span>

    {% if page.mobile %}
      <div id="toggleView" class="m-toggle-howto">
        <div class="skitter"></div>
        <span class="choice -active" data-toggle="desktop"><em>HOW TO:</em> DESKTOP</span>
        <span class="choice" data-toggle="mobile"><em>HOW TO:</em> MOBILE</span>
      </div>
    {% endif %}

  </div>
{% else %}
  <div class="m-breadcrumbs">
    <a href="{{site.baseurl}}/">How to</a> <span>/</span> <span>{{page.title | capitalize}}</span>
  </div>
{% endif %}
