<div class="m-by-app">
  <!-- Grid -->
  <ul>
    {% for category in site.categories %}
      <li class="-{{ category[0] | slugify }}">
        <a href="/apps/{{ category[0] | slugify }}">
          <h2>
            {{ category[0] | capitalize }}
            <svg><use xlink:href="#icon-{{ category[0] | downcase | remove:' ' }}"></use></svg>
          </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
