<div class="m-ranking">
  <div class="col">
    <header>
      <h2 class="-bold">MOST POPULAR QUESTIONS</h2>
    </header>
    <ul class="ranking-list">
      <li>
        <h3><a href="#">What is global forest watch?</a></h3>
        <div class="m-apps-tag">
          <ul>     
            <li><a class="gfw" href="/apps/gfw">GFW</a></li>
            <li><a class="climate" href="/apps/climate">Climate</a></li>
          </ul>
        </div>          
      </li>
      <li>
        <h3><a href="#">What is global forest watch?</a></h3>
        <div class="m-apps-tag">
          <ul>     
            <li><a class="gfw" href="/apps/gfw">GFW</a></li>
            <li><a class="climate" href="/apps/climate">Climate</a></li>
          </ul>
        </div>          
      </li>
      <li>
        <h3><a href="#">What is global forest watch?</a></h3>
        <div class="m-apps-tag">
          <ul>     
            <li><a class="gfw" href="/apps/gfw">GFW</a></li>
            <li><a class="climate" href="/apps/climate">Climate</a></li>
          </ul>
        </div>          
      </li>
      <li>
        <h3><a href="#">Does gfw distinguish tree plantations from natural forests?</a></h3>
        <div class="m-apps-tag">
          <ul>     
            <li><a class="gfw" href="/apps/gfw">GFW</a></li>
            <li><a class="climate" href="/apps/climate">Climate</a></li>
          </ul>
        </div>          
      </li>
      <li>
        <h3><a href="#">What is global forest watch?</a></h3>
        <div class="m-apps-tag">
          <ul>     
            <li><a class="gfw" href="/apps/gfw">GFW</a></li>
            <li><a class="climate" href="/apps/climate">Climate</a></li>
          </ul>
        </div>          
      </li>
    </ul>
    <a class="link" href="{{site.baseurl}}/faqs">VIEW ALL FAQ’S ></a>
  </div>
  <div class="col">
    <header>
      <h2 class="-bold">POPULAR SUBJECTS</h2>
    </header>
    <ul class="ranking-list">
      <li>
        <h3><a href="#">Visualize data on gfw</a></h3>
        <p>Navigate to GFW Interactive Map, available global data layers are organized by category across …</p>
        <div class="m-apps-tag">
          <ul>     
            <li><a class="gfw" href="/apps/gfw">GFW</a></li>
            <li><a class="climate" href="/apps/climate">Climate</a></li>
            <li><a class="commodities" href="/apps/commodities">Commodities</a></li>
            <li><a class="fires" href="/apps/fires">Fires</a></li>
          </ul>
        </div>          
      </li>
      <li>
        <h3><a href="#">Visualize data on gfw</a></h3>
        <p>Navigate to GFW Interactive Map, available global data layers are organized by category across …</p>
        <div class="m-apps-tag">
          <ul>     
            <li><a class="gfw" href="/apps/gfw">GFW</a></li>
            <li><a class="climate" href="/apps/climate">Climate</a></li>
          </ul>
        </div>          
      </li>
      <li>
        <h3><a href="#">Visualize data on gfw</a></h3>
        <p>Navigate to GFW Interactive Map, available global data layers are organized by category across …</p>
        <div class="m-apps-tag">
          <ul>     
            <li><a class="commodities" href="/apps/commodities">Commodities</a></li>
            <li><a class="fires" href="/apps/fires">Fires</a></li>
          </ul>
        </div>          
      </li>
    </ul>
  </div>
</div>