<div class="m-ranking">
  <div class="col">
    <header>
      <h2 class="-bold">MOST POPULAR QUESTIONS</h2>
    </header>
    <ul class="ranking-list">          
      {% for post in site.faqs_sorted_posts_order %}        
        {% if post.star %}
          <li>
            <h3><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h3>
          </li>
        {% endif %}
      {% endfor %}        
    </ul>
    <a class="link" href="{{site.baseurl}}/faqs/">VIEW ALL FAQ’S ></a>
  </div>
  <div class="col">
    <header>
      <h2 class="-bold">POPULAR SUBJECTS</h2>
    </header>
    <ul class="ranking-list">
      {% for post in site.sorted_posts_order %}
        {% if post.star %}
          <li>
            <h3><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h3>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>