<div class="m-by-theme">
  <!-- Slider -->
  <div class="m-slider js_slider">
    <div class="frame js_frame">
      <ul class="slides js_slides">

        {% for category in site.categories %}
          <li class="js_slide">
            <a href="/category/{{ category[0] | slugify }}">
              <svg><use xlink:href="#icon-{{ category[0] | downcase | remove:' ' }}"></use></svg>
              <h2>{{ category[0] | capitalize }}</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.</p>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
