---
layout: default
title: "FAQ's"
subtitle: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud."
---

<header class="m-header">
  {% include breadcrumbs.html %}
  <h2>FAQ's</h2>
</header>

<section id="faqsView" class="m-faqs">
  <ul class="m-faqs-list">
    {% assign sorted_posts = site.posts | sort: 'order' %}
    {% for category in site.categories_info %}
      {% for post in sorted_posts %}
        {% if post.app contains category[1].slug and post.categories contains 'faqs' %}
          <li data-app="{{post.app}}">
            <h3 class="toggle">
              {{post.title}}
              <span class="arrow"><svg><use xlink:href="#icon-arrowdown"></use></svg></span>
            </h3>
            <div class="content m-faqs-content">
              {{post.content}}
            </div>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</section>
