.m-apps-tag {
  display: block;

  &.-inline {
    display: inline-block;
  }

  ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    > li {
      text-transform: uppercase;
      font-size: 11px;
      margin-right: 10px;

      &:last-child {
        margin-right: 0px;
      }

      a {
        background: rgba($primary-color, 0.25);
        color: $primary-color;
        padding: 4px 10px 2px;
        display: block;
        margin: 0 0 5px;

        &.fires {
          background: rgba($red, 0.25);
          color: $red;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
