.m-aside {
  padding: 20px 40px;
  border-bottom: 1px solid $border1;

  &:last-child {
    border-bottom: none;
  }

  h2 {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: $primary-color;
    margin: 0 0 10px;
    text-transform: uppercase;
    cursor: pointer;

    svg {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      margin: -6px 0 0;
      width: 12px;
      height: 12px;
      fill: $primary-color;
      transform: rotate(0deg);
      transition: $transition1;
    }

    &:hover {
      text-decoration: underline;
    }

    &.-collapsed {
      svg {
        transform: rotate(-180deg);
      }
    }
  }

  ul {

    &.-collapsed {
      display: none;
    }

    li {
      a {
        display: block;
        position: relative;
        font-size: 14px;
        color: $dark;
        padding: 5px 0;

        &:hover {
          color: $primary-color;
        }

        &.-active {
          font-weight: 500;
          color: #333;
          cursor: default;
        }
      }
    }
  }
}