.m-blog {
  ul {
    display: flex;
    justify-content: space-between;

    li {
      position: relative;
      width: 50%;
      border-left: 1px solid $border1;
      background: $white;

      &:first-child {
        border-left: none;
      }

      a {
        color: $dark;
        &:hover {
          text-decoration: underline;
        }
      }

      .img {
        padding-bottom: 270px;
        background: $dark;
        background-repeat: no-repeat;

        &.-feature-posts {
          background: url($baseurl + '/assets/images/categories/feature-posts.jpg') center;
          background-size: cover;
        }

        &.-guest-post {
          background: url($baseurl + '/assets/images/categories/guest-post.jpg') center;
          background-size: cover;
        }

        &.-zooming-in {
          background: url($baseurl + '/assets/images/categories/zooming-in.jpg') center;
          background-size: cover;
        }

        &.-updates {
          background: url($baseurl + '/assets/images/categories/updates.jpg') center;
          background-size: cover;
        }

        &.-map-of-the-week {
          background: url($baseurl + '/assets/images/categories/map-of-the-week.jpg') center;
          background-size: cover;
        }

        &.-news-roundups {
          background: url($baseurl + '/assets/images/categories/news-roundups.jpg') center;
          background-size: cover;
        }

        &.-gfw-user-profile {
          background: url($baseurl + '/assets/images/categories/gfw-user-profile.jpg') center;
          background-size: cover;
        }
      }

      h3 {
        font-size: 21px;
        text-transform: uppercase;
        padding: 50px;
        line-height: 1.25;
      }
    }
  }
}
