.m-blog {
  ul {
    display: flex;
    justify-content: space-between;

    li {
      position: relative;
      width: 100%;
      border-left: 1px solid $border1;
      background: $white;
      @media (min-width: $br-mobile){
        width: 50%;
      }

      &:first-child {
        border-left: none;
      }

      a {
        color: $dark;
        padding: 15px;
        display: block;
        @media (min-width: $br-mobile){
          padding: 50px;
          &:hover {
            h3 {
              text-decoration: underline;
            }
          }
        }
      }

      .img {
        padding-bottom: 170px;
        background: $dark;
        background-repeat: no-repeat;
        @media (min-width: $br-mobile){
          padding-bottom: 270px;
        }

        &.-feature-posts {
          background: url($baseurl + '/assets/images/categories/feature-posts.jpg') center;
          background-size: cover;
        }

        &.-guest-post {
          background: url($baseurl + '/assets/images/categories/guest-post.jpg') center;
          background-size: cover;
        }

        &.-zooming-in {
          background: url($baseurl + '/assets/images/categories/zooming-in.jpg') center;
          background-size: cover;
        }

        &.-updates {
          background: url($baseurl + '/assets/images/categories/updates.jpg') center;
          background-size: cover;
        }

        &.-map-of-the-week {
          background: url($baseurl + '/assets/images/categories/map-of-the-week.jpg') center;
          background-size: cover;
        }

        &.-news-roundups {
          background: url($baseurl + '/assets/images/categories/news-roundups.jpg') center;
          background-size: cover;
        }

        &.-gfw-user-profile {
          background: url($baseurl + '/assets/images/categories/gfw-user-profile.jpg') center;
          background-size: cover;
        }

        &.-uncategorized {
          background: url($baseurl + '/assets/images/categories/guest-post.jpg') center;
          background-size: cover;
        }
      }

      h3 {
        font-size: 21px;
        text-transform: uppercase;
        line-height: 1.25;
        padding: 0 0 20px;
      }
    }
  }

  .m-blog-link {
    background: $dark;
    padding: 30px 0;
    display: flex;
    justify-content: center;

    a {
      position: relative;
      width: auto;
      height: 50px;
      line-height: 54px;

      display: inline-flex;
      align-self: center;

      margin: 0 auto;
      padding: 0px 42px;

      color: $dark;
      background: $white;
      border-radius: 50px;

      text-decoration: none;
      text-transform: uppercase;

      @media (min-width: $br-mobile){
        &:hover {
          background: darken($white,5%);
        }
      }


      svg {
        display: inline-block;
        fill: $dark;
        display: flex;
        align-self: center;
        width: 30px;
        height: 30px;
        margin: 0 5px 0 0;
      }
    }
  }
}
