.m-ranking {
	display: flex;
	justify-content: space-between;

	.col {
		width: 48%;
		padding: 40px;
		border: 1px solid $border1;
		
		&.-w100 {
			width: 100%;
		}
	}

	header {	
		h2 {
			font-size: 21px;
			padding: 0 0 15px;
			margin: 0;
		}
	}

	h3 {
		font-size: 13px;
		text-transform: uppercase;
		color: $primary-color;
		font-weight: 500;
		
		a {
			color: $primary-color;
		}
	}

	.ranking-list {
		> li {
			padding: 15px 0;
			border-bottom: 1px solid $border1;		

			> * {
				margin: 5px 0 0;
				&:first-child {
					margin-top: 0;
				}
			}	
		}
	}

	.link {
		font-size: 13px;
		display: block;
		margin: 20px 0 0;
	}

}