.m-by-theme {
  padding: 50px 0;
  .m-slider {
    width: 100%;

    .frame {
      width: 100%;
      position: relative;
      font-size: 0;
      overflow: hidden;
      white-space: nowrap;
    }

    ul {
      display: inline-block;
      li {
        position: relative;
        display: inline-block;
        a {
          display: block;
          > * {
            padding: 25px 0 0;
            &:first-child {
              padding: 0;
            }
          }
          svg {
            display: block;
            width: 50px;
            height: 50px;
            fill: $primary-color;
          }

          h2 {
            color: $primary-color;
            text-transform: uppercase;
            font-size: 21px;
          }

          p {
            padding: 15px 0 0;
            font-size: 14px;
            color: $dark;
            max-width: 75%;
            white-space: normal;
          }
        }
      }
    }
  }
}
