.m-by-theme {
  padding: 25px 0 0;
  @media (min-width: $br-mobile){
    padding: 50px 0 0;
  }

  .m-slider {
    width: 100%;

    .frame {
      width: 100%;
      position: relative;
      font-size: 0;
      overflow: hidden;
      white-space: nowrap;
    }

    ul {
      display: inline-block;
      li {
        display: inline-block;
        width:1px;
        vertical-align: top;

        a {
          display: block;
          position: relative;

          > * {
            padding: 25px 0 0;
            &:first-child {
              padding: 0;
            }
          }

          svg {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 30px;
            fill: $primary-color;

            @media (min-width: $br-mobile){
              width: 50px;
              height: 50px;
              position: relative;
            }
          }

          h2 {
            position: relative;
            top: 4px;
            color: $primary-color;
            text-transform: uppercase;
            font-size: 19px;
            padding: 0 0 0 40px;

            @media (min-width: $br-mobile){
              padding: 25px 0 0;
              top: 0;
              font-size: 21px;
            }

          }

          p {
            padding: 15px 0 0;
            font-size: 14px;
            color: $dark;
            white-space: normal;
            @media (min-width: $br-mobile){
              max-width: 75%;
            }
          }

          @media (min-width: $br-mobile){
            &:hover {
              h2 {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  .m-slider-navigation {
    padding: 15px 0 0;
    @media (min-width: $br-mobile){
      padding: 50px 0 0;
    }

    ul {
      position: relative;
      display: inline-flex;
      justify-content: center;
      left: 50%;
      transform: translate(-50%,0);
      li {
        margin: 0 0 0 10px;
        &:first-child {
          margin: 0;
        }
      }
    }

    .item {
      display: none;
      position: relative;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      font-size: 18px;
      line-height: 44px;
      text-align: center;
      cursor: pointer;
      color: $primary-color;
      border: 2px solid $primary-color;

      @media (min-width: $br-mobile){
        display: block;
      }


      &.-active {
        color: $light;
        border-color: $light;
        cursor: default;
        pointer-events: none;
      }

      &.-arrow {
        display: block;
        border: none;
        svg {
          fill: $primary-color;
          display: block;
          width: 28px;
          height: 28px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }

        @media (min-width: $br-mobile){
          &:hover {
            background: none;
            svg {
              fill: $light;
            }
          }
        }
      }

      @media (min-width: $br-mobile){
        &:hover {
          color: $white;
          background: $primary-color;
        }
      }
    }

    button {
      position: absolute;
      border: none;
      // display: none;
    }
  }
}
