.m-by-app {
  padding: 25px 0 0;
  @media (min-width: $br-mobile){
    padding: 50px 0 0;
  }


  ul {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (min-width: $br-mobile){
      margin: -4% 0 0;
    }

    li {
      padding: 20px;
      width: 100%;
      margin: 15px 0 0;
      color: $white;
      position: relative;
      @media (min-width: $br-mobile){
        width: 48%;
        margin: 4% 0 0;
        padding: 40px;
      }

      &.-gfw {
        background: $primary-color;
        &:hover {
          background: lighten($primary-color,5%);
        }
      }
      &.-fires {
        background: $red;
        &:hover {
          background: lighten($red,5%);
        }
      }
      &.-commodities {
        background: $orange;
        &:hover {
          background: lighten($orange,5%);
        }
      }
      &.-climate {
        background: $blue;
        &:hover {
          background: lighten($blue,5%);
        }
      }

      h2 {
        color: $white;
        text-transform: uppercase;
        font-size: 21px;
        position: relative;
        margin: 0 0 30px;
      }

      svg {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0,-50%);
        fill: $white;
        width: 35px;
        height: 35px;
      }

      p {
        color: $white;
        font-size: 14px;
      }
    }
  }
}
