.m-ranking {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	> * {
		margin: 40px 0 0;
		&:first-child {
			margin: 0;
		}
    @media (min-width: $br-mobile){
			margin: 0;
    }		
	}

	.col {
		width: 100%;
		padding: 40px;
		border: 1px solid $border1;

    @media (min-width: $br-mobile){
			width: 48%;
    }
		
		&.-w100 {
			width: 100%;
		}
	}

	header {	
		h2 {
			font-size: 21px;
			padding: 0 0 15px;
			margin: 0;
		}
	}

	h3 {
		font-size: 13px;
		text-transform: uppercase;
		color: $primary-color;
		font-weight: 500;
		display: inline-block;
		padding-right: 10px;
		
		a {
			color: $primary-color;
		}
	}

	.ranking-list {
		> li {
			padding: 15px 0;
			border-bottom: 1px solid $border1;		
			word-break: break-word;

			> * {
				margin: 5px 0 0;
				&:first-child {
					margin-top: 0;
				}
			}	
		}
	}

	.link {
		font-size: 13px;
		display: block;
		margin: 20px 0 0;
	}

}