.m-header {
  padding: 0 40px 40px;
  h2 {
    font-size: 47px;
    font-weight: 300;
    position: relative;
    display: inline-block;
    padding: 15px 0;
    padding-right: 75px;
    line-height: 1.125;

    &.-toggle {
      padding-right: 200px;
      display: block;
    }

    svg {
      fill: $primary-color;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0,-50%);
      margin: -5px 0 0;

      &.-gfw { fill: $primary-color;}
      &.-fires { fill: $red;}
      &.-commodities { fill: $orange;}
      &.-climate { fill: $blue;}

    }
  }

  h3 {
    font-size: 19px;
    font-weight: 300;
  }
}
