// Search module
.m-search {
  .search-container {
    position: relative;

    svg {
      display: none;
      fill: #B6B6BA;
      width: 32px;
      height: 32px;
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translate(0,-50%);

      &.-search {
        left: 20px;
      }

      &.-cross {
        left: auto;
        right: 20px;
        cursor: pointer;
        &:hover {
          fill: $red;
        }
      }

      &.-active {
        display: block;
      }
    }

    input {
      @extend %reset-input;
      font-family: inherit;
      font-size: 19px;
      display: block;
      width: 100%;
      padding: 20px calc(6px + 32px + 30px);
      margin: 20px 0 0;
      font-weight: 300;

      &::-webkit-input-placeholder {
         font-style: italic;
      }

      &:-moz-placeholder { /* Firefox 18- */
         font-style: italic;  
      }

      &::-moz-placeholder {  /* Firefox 19+ */
         font-style: italic;  
      }

      &:-ms-input-placeholder {  
         font-style: italic;  
      }      
    }
  }

  .search-results {
    background: #eee;
    padding: 10px 20px;
    display: none;

    &.-active {
      display: block;
    }

    li {
      font-size: 14px;
      line-height: 1.25;
      margin: 5px 0 0;
      margin-left: 10px;

      &.-highlight {
        a {
          color: $primary-color;
        }
      }

      &.-group {
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 0;
      }

      a {
        color: $dark;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  &.-small {
    .search-container {
      svg {
        width: 16px;
        height: 16px;

        &.-search {
          left: 10px;
        }

        &.-cross {
          right: 10px;
        }
      }
  
      input {
        font-size: 12px;
        display: block;
        width: 100%;
        padding: 8px calc(6px + 10px + 15px);
        margin: 0;
        font-weight: 300;
      }
    }
  }
}
