.m-section {

  &.-padding {
    padding: 40px 15px;

    @media (min-width: $br-mobile){
      padding: 0px 40px 50px;
    }
  }

  &.-border {
    border-top: 1px solid $border1;
  }

  header {
    h2 {
      font-size: 30px;
      line-height: 1.25;
      font-weight: 300;
      color: $dark;

      &.-bold {
        font-weight: 400;
      }

      @media (min-width: $br-mobile){
        font-size: 35px;
        margin: 0 0 20px;
      }

      a {
        color: inherit;
      }
    }
  }

  .m-category-grid {
    > li {
      display: none;
      padding: 20px 15px;
      @media (min-width: $br-mobile){
        padding: 0px 40px 40px;
      }

      &.-active {
        display: block;
      }
    }
  }
}
