.m-section {

  &.-padding {
    padding: 40px;
    border-top: 1px solid $border1;
  }

  header {
    h2 {
      font-size: 35px;
      font-weight: 300;
      color: $dark;
      a {
        color: inherit;
      }
    }
  }

  .m-category-grid {
    > li {
      display: none;
      border-top: 1px solid $border1;
      padding: 40px;

      &.-active {
        display: block;
      }
    }
  }
}
