---
layout: default
title: "Walkthrough documentation"
subtitle: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud."
---

<header class="m-header">
  <h2>Walkthrough</h2>
</header>

<section class="m-post">
  <div class="content" style="display: block;">
    <p>In this documentation we are going to learn how to create walkthroughs. The first thing we should know is that a walkthrough have the following params:</p>
    <ul>
      <li><code class="code">name</code> (string)</li>
      <li><code class="code">slug</code> (string)</li>
      <li><code class="code">steps</code> (array)</li>
    </ul>
    <p>The most basic thing before we start a new walkthrough is to know the difference between <strong>actions</strong> and <strong>events</strong>.</p>
    <p><strong>Actions</strong>: They are steps handled and triggered by us (the creator of the walkthrough). For example, at step 3 we we decided to change the active layers of the map, the range of dates...</p>
    <p><strong>Events</strong>: They are steps where we expect an iteraction from the user. For example, we expect a change on the timeline, a change in the layers...</p>
    <!-- {% include code/walkthrough.html %}   -->






    <h2>Steps</h2>
    <p>First of all, each step must have a type, it belongs to a category (it can only have one) and it has an 'options' param. Those are the basic params that a step should have.</p>
    <ul>
      <li><code class="code">type</code> - (string)</li>
      <li><code class="code">category</code> - (string)</li>
      <li><code class="code">options</code> (object)</li>
    </ul>
    <h3>Types</h3>
    <p>The difference between action and event is that an action will be triggered by us and an event will be triggered by the user.</p>
    <ul>
      <li><a href="#walkthrough-actions">Action steps</a> - <code class="code">action</code></li>
      <li><a href="#walkthrough-events">Event steps</a> - <code class="code">event</code></li>
    </ul>









    <!-- ACTION STEPS -->
    <h2 id="walkthrough-actions">Action Steps</h2>
    <h3>Categories</h3>
    <ul>
      <li><a href="#walkthrough-layers">Layers</a> - <code class="code">layers</code></li>
      <li><a href="#walkthrough-tab">Tab</a> - <code class="code">tab</code></li>
      <li><a href="#walkthrough-timeline">Timeline</a> - <code class="code">timeline</code></li>
      <li><a href="#walkthrough-country">Country</a> - <code class="code">country</code></li>
      <li><a href="#walkthrough-analysis">Analysis</a> - <code class="code">analysis</code></li>
      <li><a href="#walkthrough-map">Map</a> - <code class="code">map</code></li>
    </ul> 
    <!-- Layers -->
    <h3 id="walkthrough-layers">Layers</h3>
    <p>We need to set a <code class="code">layers</code> param equal to an array of layer slugs. You can find the slugs here <a href="https://wri-01.cartodb.com/tables/layerspec_nuclear_hazard" target="_blank">Layerspec</a>. If you want to set a country layer, you should first set the <a href="#walkthrough-country">country</a></p>
    {% include code/layers.html %} 

    <!-- Tab -->
    <h3 id="walkthrough-tab">Tab</h3>
    <p>We can set an active tab or a subtab (like the analysis ones).</p>
    <ul>
      <li>Country => 'countries-tab'</li>
      <li>Analysis => 'analysis-tab'</li>
      <li>Basemaps => 'basemaps-tab'</li>
      <li>High res => 'hd-tab'</li>
    </ul>
    {% include code/tab.html %} 
    
    <!-- Timeline -->
    <h3 id="walkthrough-timeline">Timeline</h3>
    <p>We need to set a 'dates' param equal to an object with a 'begin' and 'end' param. Of course, the dates should be between the range of dates allowed by the current forest change layer. The format of the dates should be 'dd/mm/YYYY'</p>
    {% include code/timeline.html %} 

    <!-- Country -->
    <h3 id="walkthrough-country">Country</h3>
    <p>We need to set an 'iso' param with 2 params: 'country' and 'region'</p>
    {% include code/country.html %} 

    <!-- Analysis -->
    <h3 id="walkthrough-analysis">Analysis</h3>
    <p>We must specify the type of the analysis, so the 'analysis' param is mandatory. we have 3 different types of analysis:</p>
    <ul>
      <li>'draw' - Draw or upload shape</li>
      <li>'country' - Country or region</li>
      <li>'area' - Area</li>
    </ul>
    {% include code/analysis.html %} 

    <!-- Map -->
    <h3 id="walkthrough-map">Map</h3>
    <p>We have different possibilities here. We can set a zoom level, a location or a basemap. Just remember that you can only change one thing per step. For the basemaps, here you have a list of the ids of the basemaps.</p>
    <ul>
      <li>Default => 'grayscale'</li>
      <li>Terrain => 'terrain'</li>
      <li>Satellite => 'satellite'</li>
      <li>Dark Matter => 'dark'</li>
      <li>Positron => 'positron'</li>
      <li>Roads => 'hybrid'</li>
      <li>Tree height => 'treeheight'</li>
    </ul>
    {% include code/map.html %} 

    








    <!-- EVENTS -->
    <h2 id="walkthrough-actions">Events Steps</h2>



  </div>
</section>
