<ul>
  {{#each blogposts}}
    <li>
      <a href="{{this.link}}" target="_blank">
        <div class="img -{{this.categories}}"></div>
        <h3>{{this.title}}</h3>
      </a>
    </li>
  {{/each}}
</ul>
<div class="m-blog-link">
  <a target="_blank" href="http://blog.globalforestwatch.org/">
    <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-f-blog"></use></svg>
    Read our blog
  </a>
</div>
