<ul id="contentView" class="m-category-grid">
  <li class="-active">
    <div class="m-content-grid">
      <ul>
        {{#each blogposts}} 
          <li class="m-content-item" data-tags="">  
            <div class="box">   
              <a href="{{this.link}}" class="img"></a>
              <div class="content">
                <h3><a href="{{this.link}}">{{this.title }}</a></h3>
              </div>              
            </div>              
          </li>
        {{/each}}
      </ul>
    </div>
  </li>
</ul>
