<ul>
  <li class="item -arrow" data-direction="left"><svg><use xlink:href="#icon-arrowleft"></use></svg></li>
  {{#each pages}}
    <li class="item" data-index="{{@index}}">{{this}}</li>
  {{/each}}
  <li class="item -arrow" data-direction="right"><svg><use xlink:href="#icon-arrowright"></use></svg></li>
</ul>

