---
layout: default
---

<header class="m-header">
  {% include breadcrumbs.html %}

  {% assign slug = (page.title | downcase )%}
  {% assign category = site.categories_info[slug] %}
  <h2>{{category.title}}</h2>
  <h3>{{category.description}}</h3>
</header>

<div class="m-section">
  <ul class="m-category-grid">
    {% assign sorted_posts = site.posts | sort: 'order' %}
    {% for tag in site.tags_info %}
      <li class="{% for post in sorted_posts %}{% if post.categories contains page.title and post.tags contains tag[1].slug %}-active {% endif %}{% endfor %}">
        <header>
          <h2><a href="{{site.baseurl}}/themes/{{ tag[0] | slugify }}">{{ tag[1].title }}</a></h2>
        </header>
        <div class="m-content-grid">
          <ul>
          {% assign sorted_posts = site.posts | sort: 'order' %}
          {% for post in sorted_posts %}
            {% if post.categories contains page.title and post.tags contains tag[1].slug %}
              <li class="m-content-item">
                <a href="{{site.baseurl}}{{ post.url }}">
                  <div class="img" {% if post.thumbnail %} style="background-image: url({{post.thumbnail}})"{% endif %}></div>
                  <div class="content">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.description }}</p>
                  </div>
                </a>
              </li>
            {% endif %}
          {% endfor %}
          </ul>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

<section class="m-section -padding">
  <header>
    <h2>Find content by theme</h2>
  </header>
  <!-- By theme grid -->
  {% include by-theme.html %}
</section>
