{% assign slug = (page.title | downcase | replace:' ','_')%}
{% assign category = site.categories_info[slug] %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if category%}{{category.title}}{% else %}{{ page.title }}{% endif %} | How to</title>
    <meta name="viewport" content="width=device-width">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">

    <link href='http://fonts.googleapis.com/css?family=Fira+Sans:400,500,300' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
      window.liveSettings = {
        picker: '#transifexTranslateElement',
        api_key: "9eda410a7db74687ba40771c56abd357",
        detectlang: false,
        site: 'gfw-global'
      };
    </script>
    <script id="loader-gfw" data-current=".shape-howto" src="http://gfw-assets.s3.amazonaws.com/static/gfw-assets.latest.js"></script>
    {% include favicon.html %}
    {% include config-js.html %}
  </head>
  <body>
    {% include icons.html %}
    <!-- HEADER -->
    <div id="headerGfw"></div>

    <div class="l-wrapper">
      <h1 class="l-logo"><a href="{{site.baseurl}}/">GFW How to portal <span class="ribbon"><span>How to</span></span></a></h1>
      <aside id="asideView" class="l-aside">
        {% include aside.html %}
      </aside>
      <div class="l-content">
        {{ content }}
      </div>
    </div>

    <div class="l-wrapper">
      <div id="blogView" class="m-blog"></div>
    </div>

    <!-- FOOTER -->
    <div id="footerGfw"></div>
  </body>
</html>

<script type="text/javascript">
  //Analytics
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48182293-1', document.location.hostname);
  ga('require', 'displayfeatures');
  ga('send', 'pageview');
  ga('push','_trackPageview');
</script>

<script type="text/javascript">
  var baseurl = '{{site.baseurl}}';
</script>

<!-- We are not using this right now, but we will -->
<!-- <script>
  window.intercomSettings = {
    app_id: "i08rdm3e"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/i08rdm3e';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
 -->
<script src="{{site.baseurl}}/js/vendor.js"></script>
<script src="{{site.baseurl}}/js/templates.js"></script>
<script src="{{site.baseurl}}/js/app.js"></script>
