<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <script id="loader-gfw" data-current=".shape-howto" src="http://www.globalforestwatch.org/gfw-assets"></script>
  </head>
  <body>  
    <!-- HEADER -->
    <div id="headerGfw"></div>

    <div class="l-wrapper">
      <aside class="l-aside">
        {% include aside.html %}
      </aside>
      <div class="l-content">
        {{ content }}  
      </div>
    </div>

    <!-- FOOTER -->
    <div id="footerGfw"></div>
  </body>
</html>
