---
layout: default
---

<header class="m-header">
  {% include breadcrumbs.html %}
  <h2>
    {{page.title}}
  </h2>
  <h3>{{page.description}}</h3>
  <div class="m-apps-tag">
    <ul>
      {% for tag in page.tags %}
        {% assign tagCustom = site.tags_info[tag] %}
        <li><a class="{{tagCustom.slug}}" href="{{site.baseurl}}/tags/{{tagCustom.slug}}">{{tagCustom.title}}</a></li>
      {% endfor %}                        
    </ul>    
  </div>
</header>

<section class="m-post">
  {{ content }}
</section>

<section class="m-section -padding -border">
  <header>
    <h2>You may find this interesting</h2>
  </header>

  <div class="m-content-grid">
    <ul>
      {% if page.previous.url %}
      <li class="m-content-item">
        <div class="box">                
          <a href="{{site.baseurl}}{{ page.previous.url }}" class="img {% if page.previous.thumbnail == 'video' %}-video{% endif %}" {% if page.previous.thumbnail %} style="background-image: url({{site.baseurl}}{{page.previous.thumbnail}})"{% endif %}></a>
          <div class="content">
            <h3><a href="{{site.baseurl}}{{ page.previous.url }}">{{ page.previous.title }}</a></h3>
            <div class="m-apps-tag">
              <ul>
                {% for tag in page.previous.tags %}
                  {% assign tagCustom = site.tags_info[tag] %}
                  <li><a class="{{tagCustom.slug}}" href="{{site.baseurl}}/tags/{{tagCustom.slug}}">{{tagCustom.title}}</a></li>
                {% endfor %}                        
              </ul>
            </div>
            <p>{{ page.previous.description }}</p>
          </div>              
        </div>              
      </li>
      {% endif %}
      {% if page.next.url %}
      <li class="m-content-item">
        <div class="box">                
          <a href="{{site.baseurl}}{{ page.next.url }}" class="img {% if page.next.thumbnail == 'video' %}-video{% endif %}" {% if page.next.thumbnail %} style="background-image: url({{site.baseurl}}{{page.next.thumbnail}})"{% endif %}></a>
          <div class="content">
            <h3><a href="{{site.baseurl}}{{ page.next.url }}">{{ page.next.title }}</a></h3>
            <div class="m-apps-tag">
              <ul>
                {% for tag in page.next.tags %}
                  {% assign tagCustom = site.tags_info[tag] %}
                  <li><a class="{{tagCustom.slug}}" href="{{site.baseurl}}/tags/{{tagCustom.slug}}">{{tagCustom.title}}</a></li>
                {% endfor %}                        
              </ul>
            </div>
            <p>{{ page.next.description }}</p>
          </div>              
        </div>              
      </li>
      {% endif %}
    </ul>
  </div>
</section>
